


/* General Styles */
html{
  overflow-x: hidden;
}
body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100dvh;
  width: 100dvw;
  font-family: "Source Sans 3", sans-serif;
  overflow-x: hidden;
}
header {
  background-color: #E0E8FF;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}
header h1 {
  margin: 0;
  font-size: 1.2rem;
  color: #000000;
  font-weight: 400;
  justify-self: center;
}
nav.topnav {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

nav.topnav a {
  margin: 0 15px;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 0;  
  width: 100%;
  margin: auto;
  flex: 1
}

main h2 {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 20px;
}

#widgets {
  display: flex;
  gap: 10px;
  max-width: fit-content;
  max-height: clamp(4em, 5vw, 20em);
}
#widgets div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  font-size: .6rem;
  max-width: 10vw;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #E0E8FF;
}
.title {
  font-size: 2rem;
}
#widgets div p {
  text-align: center;
}
.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#clickButton {
  background-image: url('images/ClickButtonLogo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 50%;
  width: clamp(100px, 60vw, 300px);
  height: clamp(100px, 60vw, 300px);
}

.hidden {
  display: none !important;
}

#clickButton:active {
  background-image: url('images/ClickButtonLogoDepress.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  border-radius: 50%;

}

div#stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 18px;
  margin-top: 20px;
}

div#stats p {
  margin: 0 10px;
  font-size: .8rem;
  color: #000000;
}
#Total {
  font-weight: bold;
}

.upgradesContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
}
#upgrades h3 {
  grid-column: span 2;
  text-align: center;
  margin: 0;
}
#upgrades button {
  width: 10em;
  height:3em;
  border-radius: 4px;
  border: 2px solid #4d2e29;
  padding: 1px;
}
#upgrades button:disabled {
  max-width: 10em;
  cursor: not-allowed;
  border: 2px solid #4d2e29;;
  color: #ececec;
  background-color: #251613;

  border-radius: 4px;
}
  #cubeWdg {
    background-color: #1d36b2 ;
  }
  #circWdg {
    background-color: #538216;
  }
  #xWdg{
    background-color: #D63B15;
}

  #lWdg {
    background-color: #1d36b2;
}
#coolWdg {
  background-position: center;
  background-size: cover;
  min-width: 4em;
}

div#widgets div {
  animation: spin-animation 2s linear infinite;
}

@keyframes spin-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg)
  }
}

@media (min-width: 600px) {
  header {
    flex-shrink: 0;
  }
  html {
    overflow: hidden;
  }
  body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 8px;
    min-height: 0; 
  }
  .title {
    font-size: 2.4rem;
  }
  .buttonContainer {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 1;
  }
  #upgrades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #widgets {
    display: contents;
  }
  #widgets div {
    max-width: 10vw;
    font-size: .8rem;
    margin: 0 auto;
  }
  #cubeWdg {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  #circWdg {
    grid-column-start: 1;
    grid-row-start: 2;
}

  #xWdg{
    grid-column-start: 1;
    grid-row-start: 3;
}

  #lWdg {
    grid-column-start: 2;
    grid-row-start: 3;
}
  #coolWdg{
    grid-column-start: 3;
    grid-row-start: 3;
    width: 10em;
    height: 10em;
   
}
  div#stats {
    grid-column: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
    align-items:normal
}
  #upgrades {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    grid-row-start: 2;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
  #upgrades button{
    max-width: 100%;
    margin: auto;
}
  #upgrades h3 {
    margin: auto;
  }
  #upgrades button:disabled{
    max-width: 100%;
}



}