@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');




/* Variable Fonts */
.source-sans-3-light {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.source-sans-3-reg {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.source-sans-3-bold {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* General Styles */
body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Source Sans 3", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#clickButton {
  background-image: url('images/ClickButtonLogo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30em;
  height: 30em;
  border: none;
  border-radius: 50%;
}

#clickButton:active {
  background-image: url('images/ClickButtonLogoDepress.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 30em;
  height: 30em;
  border: none;
  border-radius: 50%;
}

