
* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
display: flex;
flex-direction: column;

}

img {
max-width: 100%;
}

.main-nav {
list-style-type: none;
display: flex;
gap: 1em;
flex-direction: row;
justify-content: right;

}

hr{
margin-top: 50px;
}
              
@media screen and (min-width: 768px) {
    .media-card {
        display: flex;
        flex-direction: row;
        
    }
    .media-card-content {
        margin-left: 2em;
    }
    .gallery {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        flex-shrink: 3;
        flex-direction: row;
        
    }
    .gallery-container .gallery .media-card {
        max-width: 600px;
    }

}